form {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea {
    display:inline-block;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(80, 79, 79, 0.397);
    width: 100%;
    max-width: 400px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #000000;
  }